@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
}

html, body {
    display: flex;
    justify-content: center;
	align-items: center;
	background: var(--grey);
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

.container {
    display: flex;
	position: fixed;
    flex-direction: column;
	justify-content:flex-start;
	align-items: center;
    background-color: var(--light);
    width: 30%;
    height: 80vh;
    border-radius: 20px;
}

.brand {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10% 0 5% ;
}

.brand a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.brand img {
	width: 90%;
	border: 2px solid #000;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.switch {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 5vh;
}

.switch input {
	justify-content: center;
	appearance: none;
	width: 80%;
	height: 5vh;
	background-color: var(--grey);
	outline: none;
}

.switch input::before,
.switch input::after {
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	font-weight: bolder;

}

.switch input::before {
	content: 'Login';
	left: 25%;
}

.switch input::after {
	content: 'Register';
	right: 25%;
}

.switch label {
	z-index: 1;
	position: absolute;
	top: 5%;
	bottom: 5%;
}

.switch input {
	transition: .25s;
}

.switch input:checked::after,
.switch input:checked::after {
	color: var(--dark-blue);
	transition: color 0.5s;

}

.switch input:checked+label {
	left: 50%;
	right: 50%;
	background: var(--blue);
	transition: left .5s right .4s .2s;
}

.switch input:not(:checked) {
	background: var(--grey);
	transition: background .4s;

}
.switch input:not(:checked)::before {
	color: var(--dark);
	transition: color .5s;

}
.switch input:not(:checked)::after {
	color: var(--dark);
	transition: color .5s;
}

.switch input:not(:checked) +label {
	left: 48%;
	right: 10%;
	background: var(--light);
	transition: left .4s .2s right .5s background .3s;
}