@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
}

html, body {
    display: flex;
    justify-content: center;
	align-items: center;
	background: var(--grey);
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

.container {
    display: flex;
	position: relative;
    flex-direction: column;
	justify-content:flex-start;
	align-items: center;
    background-color: var(--light);
    width: 480px;
    height: 600px;
    border-radius: 20px;
}

.brand {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10% 0 5% ;
}

.brand a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.brand img {
	width: 90%;
	filter: drop-shadow(2px 2px var(--dark)) drop-shadow(-2px -2px 2px var(--light-blue));
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.username {
	display: flex;
	gap: 10px;
	width: 70%;
	margin: 10px;
}

.input-box {
	margin: 10px;
	width: 70%;
}
.input-box label {
	display: flex;
	flex-direction: column;
}

.input-email,
.input-pass {
	display: flex;
	align-items: center;
	height: 30px;
}
.input, .input-field {
	background-color: var(--grey);
}

.input-box i {
	padding: 0 3px;
	align-items: center;
}

.input-field {
	width: 100%;
	height: 30px;
	border: none;
	outline: none;
	padding: 0 3px;
}

.form-cols {
	display: flex;
	justify-content: space-between;
	width: 70%;
}

.col-1 {
	display: flex;
	align-items: baseline;
	width: 50%;

}

.checkbox {
	cursor: pointer;
	margin-right: 4px;
	accent-color: var(--blue);
}

.signin {
	width: 70%;
	margin: 20px 0;
}

.btn-submit {
	width: 100%;
	border: none;
	background-color: var(--blue);
	padding: 5px 0;
	font-weight: bolder;
	font-size: 16px;
	color: var(--light);
}

.btn-submit:hover {
	background-color: var(--dark-blue);
}

.hr-line {
    border: 1px solid var(--dark-grey);
	border-radius: 50px;
	color: var(--dark-grey);
    overflow: visible;
    text-align: center;
    height: 1px;
	width: 70%;
	margin: 20px 0;
}

.hr-line::after {
	background: var(--light);
	content: "OR";
	padding: 0 4px;
	position: relative;
	top: -13px;
  }

.direct-access {
	display: flex;
	width: 100%;
	justify-content: center;
}

.access-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
}

.access-btn button {
	display: flex;
	align-items: center;
	background-color: var(--light);
	font-size: 20px;
	margin: 0 15px;
	font-weight: bolder;
	border: none;
}
.access-btn img {
	width: 40px;
}